.faq-allfaq {
  background-image: url("../../../images/about-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;

  .faq-allfaq-title {
    font-weight: 800;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0px;
    margin-top: 90px;
  }
}
