@import "../../../styles/variables.scss";

.navbar {
  background-color: #fff;
  position: relative;
  z-index: 50;

  @media (min-width: $desktop) {
    box-shadow: 0 4px 10px -10px rgba(0, 0, 0, 0.6);
  }

  .navbar-content {
    height: 112px;
    display: flex;
    align-items: center;

    .navbar-content-image {
      img {
        width: 75%;
      }

      @media (min-width: $desktop) {
        img {
          width: 100%;
        }
      }
    }

    .collapse-able {
      display: flex;
      align-items: flex-start;
      flex: 1;
      flex-direction: column;
      position: absolute;
      top: 112px;
      left: 0px;
      width: 100%;
      background-color: #fff;
      padding: 24px;
      opacity: 0;
      visibility: hidden;
      height: 0px;
      transition: 0.15s;

      &.active {
        @media (max-width: #{$desktop - 1px}) {
          height: 0px;
          opacity: 1;
          visibility: visible;
          height: fit-content;
        }
      }

      @media (min-width: $desktop) {
        position: static;
        flex-direction: row;
        align-items: center;
        height: 112px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
