.about-partner {
  .about-partner-content {
    display: flex;
    align-items: center;

    .about-partner-image {
      width: 150px;
      height: 150px;
      margin-right: 68px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        min-width: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }

    .about-partner-body {
      flex: 1;
    }
  }
}
