@import "../../../../styles/variables.scss";

.header-navigation {
  width: 100%;

  @media (min-width: $desktop) {
    flex: 1;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-direction: column;

    @media (min-width: $desktop) {
      flex-direction: row;
    }

    .nav-item {
      @media (min-width: $desktop) {
        height: 112px;
        display: flex;
        align-items: center;
      }

      .link-container {
        color: #000;
        display: flex;

        &.active {
          color: rgba(48, 49, 51, 0.5);
        }

        @media (min-width: $desktop) {
          line-height: 112px;
          padding: 10px;
        }

        &:hover {
          color: $color-p;
        }

        .text {
          flex: 1;
        }
        .end {
          margin-left: 10px;
          background-color: transparent;
          border: none;
        }
      }

      &:not(:last-child) {
        margin-bottom: 16px;
        @media (min-width: $desktop) {
          margin-right: 20px;
          margin-bottom: 0px;
        }
      }
    }
  }

  .dropdown {
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 12px;
    overflow: hidden;

    @media (max-width: #{$desktop - 1px}) {
      height: 0px;
      visibility: hidden;

      &.open {
        height: fit-content;
        visibility: visible;
      }
    }

    @media (min-width: $desktop) {
      display: none;
      position: absolute;
      top: 112px;
      width: 280px;
      border-top: 1px solid rgba($color: $color-light, $alpha: 0.4);
      padding: 24px 12px;
      background-color: #fff;
    }

    .dropdown-title {
      font-size: 20px;
      font-weight: 500;
      padding: 6px 8px;
    }

    .dropdown-item {
      font-size: 12px;
      font-weight: 500;
      width: 100%;

      a {
        width: 100%;
        display: block;
        padding: 4px 8px;

        &.active {
          color: rgba(48, 49, 51, 0.5);
        }

        &:hover {
          background-color: #f7f7f7;
        }
      }
    }
  }

  @media (min-width: $desktop) {
    .nav-item {
      &:hover,
      &:focus {
        .dropdown {
          display: flex;
        }
      }
    }
  }
}
