@import "../../../styles/variables.scss";

.home-feature {
  background-color: #fff;
  background-image: url("./../../../images/home-feature-background.svg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.home-features-wrapper {
  margin-bottom: 70px;
  margin-top: -200px;
}

.home-features-cta {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop) {
    margin-bottom: 10px;
  }

  .cta-heading {
    text-align: center;
    margin-bottom: 20px;
  }
}
