@font-face {
  font-family: "Eudoxus";
  src: url("../assets/fonts/EudoxusSans-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Eudoxus";
  src: url("../assets/fonts/EudoxusSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Eudoxus";
  src: url("../assets/fonts/EudoxusSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Eudoxus";
  src: url("../assets/fonts/EudoxusSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Eudoxus";
  src: url("../assets/fonts/EudoxusSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Eudoxus";
  src: url("../assets/fonts/EudoxusSans-ExtraBold.ttf");
  font-weight: 800;
}
