@import "./variables.scss";

/* ==============
  HEADINGS
=============== */
.heading-xl {
  font-size: 57px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 45px;
}
.heading-thin {
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0px;
}
.heading-thin-small {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 300;
}
.heading-small {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0px;
}
.heading-big {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0px;

  @media (max-width: #{$desktop - 1px}) {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
}
.heading-section {
  font-size: 29px;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 34.8px;
}

/* ==============
  TEXTS
=============== */
.text-lg-thin {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0px;
  font-weight: 300;
}
.text-xl {
  font-size: 30px;
  font-weight: 800;
  line-height: 52.5px;
  letter-spacing: 0px;
}
.text-lg {
  font-size: 23px;
  font-weight: 300;
  line-height: 40.25px;
  letter-spacing: 0px;
}
.text-md {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
}
.text-sm {
  font-size: 15px;
  font-weight: 500;
  line-height: 26.25px;
  letter-spacing: 0px;
}
.text-xs {
  font-size: 13px;
  font-weight: 400;
  line-height: 22.75px;
  letter-spacing: 0px;
}
