@import "../styles/variables.scss";

// Colors
.color-blue {
  color: $color-blue;
}
.color-orange {
  color: $color-orange;
}
.color-pink {
  color: $color-pink;
}
.color-purple {
  color: $color-purple;
}
.color-yellow {
  color: $color-yellow;
}
.color-teal {
  color: $color-teal;
}
.color-gray {
  color: rgba(12, 12, 12, 0.81);
}
.color-gray-2 {
  color: rgb(119, 119, 119);
}
.color-dark {
  color: rgb(48, 49, 51);
}

// Background colors
.background-color-blue {
  background-color: $color-blue;
}
.background-color-orange {
  background-color: $color-orange;
}
.background-color-pink {
  background-color: $color-pink;
}
.background-color-purple {
  background-color: $color-purple;
}
.background-color-yellow {
  background-color: $color-yellow;
}
.background-color-teal {
  background-color: $color-teal;
}

// Margin Bottom
.mb-sm {
  margin-bottom: 16px;
}
.mb-md {
  margin-bottom: 27px;
}
.mb-lg {
  margin-bottom: 32px;
}

.hide-mobile {
  @media (max-width: #{$desktop - 1px}) {
    display: none !important;
  }
}
.hide-desktop {
  @media (min-width: $desktop) {
    display: none !important;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: $desktop) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.underline {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: black;
  }

  &.orange {
    &::before {
      background-color: $color-orange;
    }
  }
  &.blue {
    &::before {
      background-color: $color-blue;
    }
  }
  &.pink {
    &::before {
      background-color: $color-pink;
    }
  }
  &.yellow {
    &::before {
      background-color: $color-yellow;
    }
  }
  &.teal {
    &::before {
      background-color: $color-teal;
    }
  }
  &.purple {
    &::before {
      background-color: $color-purple;
    }
  }

  &:hover {
    &.orange {
      color: $color-orange;
    }
    &.blue {
      color: $color-blue;
    }
    &.pink {
      color: $color-pink;
    }
    &.yellow {
      color: $color-yellow;
    }
    &.teal {
      color: $color-teal;
    }
    &.purple {
      color: $color-purple;
    }
  }
}

.highlight {
  font-weight: 500;
  position: relative;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 320px;
    background-color: $color-p-light;
    // top: 60%;
    left: -26px;
    // transform: translateY(-50%);
    z-index: 0;
    bottom: 10px;
  }

  .text {
    z-index: 1;
  }
}
