@import "../styles/variables.scss";

// Colors
.color-blue {
  color: $color-blue;
}
.color-orange {
  color: $color-orange;
}
.color-pink {
  color: $color-pink;
}
.color-purple {
  color: $color-purple;
}
.color-yellow {
  color: $color-yellow;
}
.color-teal {
  color: $color-teal;
}
.color-gray {
  color: rgba(12, 12, 12, 0.81);
}
.color-gray-2 {
  color: rgb(119, 119, 119);
}
.color-dark {
  color: rgb(48, 49, 51);
}

// Background colors
.background-color-blue {
  background-color: $color-blue;
}
.background-color-orange {
  background-color: $color-orange;
}
.background-color-pink {
  background-color: $color-pink;
}
.background-color-purple {
  background-color: $color-purple;
}
.background-color-yellow {
  background-color: $color-yellow;
}
.background-color-teal {
  background-color: $color-teal;
}

// Margin Bottom
.mb-sm {
  margin-bottom: 16px;
}
.mb-md {
  margin-bottom: 27px;
}
.mb-lg {
  margin-bottom: 32px;
}

.hide-mobile {
  @media (max-width: #{$desktop - 1px}) {
    display: none !important;
  }
}
.hide-desktop {
  @media (min-width: $desktop) {
    display: none !important;
  }
}
