$color-p: #007dff;
$color-p-light: #99cbff;
$color-s: #f7653b;

$color-blue: #007dff;
$color-blue2: #006cff;
$color-orange: #f7653b;
$color-pink: #ef3061;
$color-purple: #7c39ed;
$color-yellow: #e9ca00;
$color-teal: #11afa4;

$color-dark: #222f3e;
$color-light: #949ba2;

// breakpoints
$tablet: 690px;
$desktop: 1140px;
