.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 36px;

  .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-image {
    }
    .card-heading {
      text-align: center;
      max-width: 190px;
    }
    .card-text {
      text-align: center;
    }
  }
}
