@import "../../../styles/variables.scss";

.button {
  background-color: transparent;
  border: 3px solid;
  border-radius: 30px;
  padding: 0px 25px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  line-height: 40px;
  transition: 0.15s;

  @media (max-width: #{$desktop - 1px}) {
    padding: 0px 18px;
    line-height: 32px;
  }

  &:hover {
    color: #fff;
  }

  &.button-blue {
    border-color: $color-p;
    &:hover {
      background-color: $color-p;
    }
  }

  &.button-orange {
    border-color: $color-s;
    &:hover {
      background-color: $color-s;
    }
  }

  &.button-yellow {
    border-color: $color-yellow;
    &:hover {
      background-color: $color-yellow;
    }
  }

  &.button-teal {
    border-color: $color-teal;
    &:hover {
      background-color: $color-teal;
    }
  }

  &.button-pink {
    border-color: $color-pink;
    &:hover {
      background-color: $color-pink;
    }
  }

  &.button-purple {
    border-color: $color-purple;
    &:hover {
      background-color: $color-purple;
    }
  }
}
