@import "../../../styles/variables.scss";

.button {
  background-color: transparent;
  border: 3px solid $color-p;
  border-radius: 30px;
  padding: 0px 25px;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  line-height: 40px;

  &:hover {
    background-color: $color-p;
    color: #fff;
  }
}
