@import "../../../styles/variables.scss";

.button {
  background-color: transparent;
  border: 3px solid;
  border-radius: 30px;
  padding: 0px 25px;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  line-height: 40px;

  &:hover {
    color: #fff;
  }

  &.button-blue {
    border-color: $color-p;
    &:hover {
      background-color: $color-p;
    }
  }

  &.button-orange {
    border-color: $color-s;
    &:hover {
      background-color: $color-s;
    }
  }
}
