.services-share-features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .services-share-features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:not(:first-child) {
      padding-left: 24px;
    }

    &:not(:last-child) {
      padding-right: 24px;
      border-right: 2px solid rgb(234, 234, 234);
    }
  }
}
