.common-hero {
  position: relative;

  .common-hero-title2 {
    color: rgb(34, 47, 62);
    font-size: 27px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0px;
  }

  .common-hero-image {
    width: 100%;
  }

  .common-hero-logo {
    position: absolute;
    top: calc(50% - 30px);
    left: 6%;
    transform: translateY(-50%);
    height: 45%;
    width: 45%;
  }

  .common-hero-content {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 40%;
  }
}
