@import "../../../styles/variables.scss";

.home-hero {
  height: 620px;
  position: relative;

  .bg-image {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;

      @media (min-width: $desktop) {
        left: auto;
        right: 0px;
      }
    }
  }

  .home-hero-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    z-index: 10;

    .home-hero-content,
    .home-hero-spacer {
      flex: 1;
    }

    .home-hero-spacer {
      display: none;
      @media (min-width: $desktop) {
        display: block;
      }
    }

    .home-hero-heading {
      margin-bottom: 20px;
    }

    .hero-hero-text {
      display: block;
      margin-bottom: 25px;
    }
  }
}
