@import "../../../styles/variables.scss";

.contact-form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 90px;
  }

  .contact-form-form {
    .form-errors {
      display: flex;
      flex-direction: column;

      .error {
        margin-bottom: 16px;
        color: #fff;
        font-size: 12px;
        padding: 10px;
        background-color: red;
      }
    }

    .form-layout {
      display: flex;
      flex-direction: column;

      .form-row {
        margin-bottom: 18px;
        display: flex;

        .form-row-unit {
          flex: 1;
          &:not(:last-child) {
            margin-right: 18px;
          }
        }
      }
    }
  }

  .details-grid {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .detail-item {
      display: flex;
      align-items: center;

      .detail-item-icon {
        margin-right: 6px;
        margin-top: 3px;
      }
    }
  }
}
