@import "../../../styles/variables.scss";

.about-oursolution-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
  }

  .about-oursolution-image {
    img {
      width: 100%;
    }
  }

  .about-oursolution-content {
    padding-top: 24px;

    @media (min-width: $desktop) {
      padding-top: 0px;
      padding-left: 30px;
    }
  }
}
