@import "../../../../styles/variables.scss";

.services-power-apps2-item {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
  }

  .services-power-apps2-item-image {
    width: 260px;

    @media (min-width: $desktop) {
      width: 320px;
    }

    img {
      width: 100%;
    }
  }

  .services-power-apps2-item-content {
    flex: 1;
    padding-top: 44px;

    @media (min-width: $desktop) {
      padding-top: 0px;
      padding-left: 72px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 36px;
  }
}
