@import "../../../styles/variables.scss";

.home-business-support {
  background-image: url("../../../images/home-business-support-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;

  .home-business-support-heading {
    margin-bottom: 18px;
  }

  .home-business-support-text {
    margin-bottom: 36px;
  }

  .home-business-list {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    column-gap: 18px;

    @media (min-width: $desktop) {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 26px;
    }

    li {
      font-size: 23px;
      font-weight: 300;
      line-height: 40.25px;
      color: rgb(119, 119, 119);
      position: relative;
      padding-left: 26px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: #e9ca00;
        border-radius: 50%;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
      }
    }
  }

  .home-business-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;

    @media (min-width: $desktop) {
      height: 90px;
    }
  }
}
