@import "../../../styles/variables.scss";

.services-hero {
  background-image: url("../../../images/services-hero-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  height: 340px;

  @media (min-width: $desktop) {
    background-position: calc(100% + 128px) -64px;
    background-size: contain;
    height: 480px;
  }

  .services-hero-title {
    margin-bottom: 28px;
  }

  .services-hero-text {
    max-width: 640px;
  }

  .services-hero-grid {
    height: 440px;
    display: flex;
    padding-top: 120px;
    // align-items: center;
  }

  .services-hero-content {
    width: 100%;

    @media (min-width: $desktop) {
      width: 70%;
    }
  }
  .services-hero-spacer {
    display: none;

    @media (min-width: $desktop) {
      display: block;
      width: 30%;
    }
  }

  .services-hero-spacer {
    display: none;

    @media (min-width: $desktop) {
      display: block;
    }
  }
}

.services-feature-services-solutions-group {
  // background-color: red;
  background-image: url("../../../images/about-background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
